.csr-cause-section.ar {
    direction: rtl;
    text-align: right;

    .cause-title {
        font-family: "Noto-Kufi-Bold";
        font-size: 35px;
        font-weight: 700;
    }
    .text-container {
        p {
            color: #4a4a4a;
            font-family: "Noto-Kufi-Regular", "DINPro-Regular";
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }
        .text-bold {
            font-family: "Tajawal-ExtraBold";
            font-weight: 700;
        }
    }
    .cause-btn {
        background-image: linear-gradient(227deg, #c0aa71 0%, #f3e0ab 100%);
        p {
            font-family: "Tajawal-ExtraBold";
            font-size: 14px;
            font-weight: 700;
        }
    }
}