.offer-section {
    padding-bottom: 40px;
    .title-container h1 {
        color: #000000;
        font-family: "Didot-Bold";
        font-size: 35px;
        font-weight: 700;
        padding-bottom: 40px;
    }
}