.img-btn-component.ar {
    direction: rtl;
    text-align: right;
    a {
        padding: 0 15px 0 10px;
    }
    p {
        font-family: "Noto-Kufi-Bold";
        font-size: 14px;
        font-weight: 700;
        line-height: 48px;
    }
    img {
        float: left;
    }
}