.img-btn-component {
    width: 300px;
    border: 1px solid #cfba82;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
    a {
        display: block;
        padding: 0 10px 0 15px;
        text-align: center;
    }
    p {
        margin: 0px;
        color: #262522;
        font-family: "DINPro-Bold";
        font-size: 13px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        display: inline-block;
    }
    img {
        display: inline-block;
        float: right;
        margin-top: 16px;
    }
    &:hover {
        cursor: pointer;
        background-color: #cfba82;
        p {
            color: #fff;
        }
        img {
            filter: brightness(0) invert(1);
        }
    }
}