.project-listing-section {
    background-image: linear-gradient(183deg, rgba(192, 170, 113, 0.16) 0%, rgba(243, 224, 171, 0.0384) 100%);
    .listing-container {
        padding: 0 0 20px 0;
        text-align: left;
    }
    .listing-item {
        margin: 20px 15px;
        display: inline-block;
        &:hover{
            img{opacity:0.9}
            a, p {text-decoration: none !important; color:#c0aa71 }
        }
    }
    .listing-item:first-child, .listing-item:nth-child(3n+1) {
        margin-left: 0 !important;
    }
    .listing-item:nth-child(3n) {
        margin-right: 0 !important;
    }
    /*@media only screen and (max-width: 992px) {
        .listing-item, .listing-item:first-child, .listing-item:nth-child(3n+1), .listing-item:nth-child(3n) {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }*/
    @media only screen and (max-width: 768px) {
        .listing-container {
            text-align: center;
        }
        .listing-item, .listing-item:first-child, .listing-item:nth-child(3n+1), .listing-item:nth-child(3n) {
            margin-left: auto !important;
            margin-right: auto !important;
            width:100%;
        }
    }
}