.offer-listing-section.ar {
    direction: rtl;
    text-align: right;

    .listing-container {
        text-align: right;
    }
    .listing-item:first-child, .listing-item:nth-child(3n+1) {
        margin-right: 0 !important;
        margin-left: auto;
    }
    .listing-item:nth-child(3n) {
        margin-left: 0 !important;
        margin-right: auto;
    }
    @media only screen and (max-width: 768px) {
        .listing-item, .listing-item:first-child, .listing-item:nth-child(3n+1), .listing-item:nth-child(3n) {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}