.location-section.ar {
    direction: rtl;
    text-align: right;

    .location-container {
        .location-title {
            font-family: "Noto-Kufi-Bold";
            font-size: 35px;
            font-weight: 700;
        }
        .location-btn {
            p {
                font-family: "Tajawal-ExtraBold";
                font-size: 14px;
                font-weight: 700;
                line-height: 48px;
            }
            img {
                float: left;
            }
        }
    }
}
