@font-face {
    font-family: 'DINPro-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Regular'), url('DINPro-Regular_13937.woff') format('woff');
}
@font-face {
    font-family: 'DINPro-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Medium'), url('DINPro-Medium_13936.woff') format('woff');
}
@font-face {
    font-family: 'DINPro-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Bold'), url('DINPro-Bold_13934.woff') format('woff');
}
@font-face {
    font-family: 'Didot-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Didot-Bold'), url('Didot-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto-Kufi-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('NotoKufiArabic-Bold'), url('NotoKufiArabic-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto-Kufi-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NotoKufiArabic-Regular'), url('NotoKufiArabic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tajawal-Black';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal-Black'), url('Tajawal-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Tajawal-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal-Bold'), url('Tajawal-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Tajawal-ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal-ExtraBold'), url('Tajawal-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Tajawal-ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal-ExtraLight'), url('Tajawal-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Tajawal-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal-Light'), url('Tajawal-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Tajawal-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal-Medium'), url('Tajawal-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Tajawal-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Tajawal-Regular'), url('Tajawal-Regular.ttf') format('truetype');
}