.landing-item-container.ar {
    text-align: right;
    div {
        h1 {
            color: #cfba82;
            font-family: "Noto-Kufi-Regular";
            font-size: 35px;
            font-weight: 300;
            direction: ltr;
        }
    }
    p {
        font-family: "Tajawal-Bold";
        font-size: 14px;
        font-weight: 500;
    }
}