.project-page.community-section.ar {
    direction: rtl;
    text-align: right;

    .community-title {
        h1 {
            font-family: "Noto-Kufi-Bold";
            font-size: 35px;
            font-weight: 700;
        }
    }

}