.footer.ar {
    direction: rtl;
    text-align: right;

    .footer-link {
        font-family: "Noto-Kufi-Bold";
        font-size: 14px;
    }
    .footer-subscribe-text {
        color: #cfba82;
        font-family: "Noto-Kufi-Bold";
        font-size: 32px;
    }
    .footer-mailbox {
        padding: 6px 6px 6px 12px;
    }
    ::placeholder {
        font-family: "Noto-Kufi-Bold","DINPro-Bold";
    }
    .footer-input-email {
        font-family: "Noto-Kufi-Bold","DINPro-Bold";
    }
    .btn-paper-plane {
        float: left;
    }
    .footer-copyright {
        font-family: "DINPro-Regular";
        font-size: 15px;
    }
    .footer-social-link {
        float: left;
        padding-left: 34px;
        padding-right: 0;
    }

    @media only screen and (max-width: 768px) {
        .container:first-child {
            margin: 0 auto;
            padding: 25px 7vw;
        }
        .footer-social-link {
            font-size: 8vw;
            padding: 0 4vw;
            float: left;
        }
        .footer-desktop {
            display: none;
        }
        .footer-mobile {
            display: block;
            padding-left: 4vw;
        }
        .footer-subscribe-text {
            font-size: 7.5vw;
            line-height: 8vw;
            margin: 0 15px;
        }
        .footer-mailbox {
            max-width: 100%;
            margin: 20px 15px 0;
        }
    }
}
