.filter-section.ar {
    direction: rtl;
    text-align: right;

    .filter-container {
        background-image: linear-gradient(217deg, #c0aa71 0%, #f3e0ab 100%);
        .input-select-div:after {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
            left: 13px;
            right: unset;
        }
        .input-select-div {
            font-family: "Noto-Kufi-Bold";
            font-size: 14px;
            font-weight: 700;
        }
        select {
            font-family: "Tajawal-Medium";
            font-size: 14px;
            font-weight: 400;
        }
    }

    .filter-title-container {
        h1 {
            font-family: "Noto-Kufi-Bold";
            font-size: 24px;
            font-weight: 700;
            line-height: 40px;
        }
        .reset-container {
            float: left;
            h2 {
                font-family: "Noto-Kufi-Bold";
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
    ::placeholder {
        font-family: "Noto-Kufi-Bold";
        font-size: 14px;
        font-weight: 700;
    }
    .search-box {
        padding: 4px 6px 6px 12px;
        line-height: 28px;
        .search-input {
            padding-right: 9px;
            padding-left: 0;
            font-family: "Noto-Kufi-Bold";
        }
    }
    .slider-container {
        text-align: right;
        p {
            font-size: 14px;
            &:first-child {
                font-weight: 700;
                font-family: "Noto-Kufi-Bold";
            }
            &:nth-child(2) {
                font-weight: 400;
                font-family: "DINPro-Regular";
            }
        }
    }
    .apply-btn {
        text-align: right;
        p {
            font-family: "Noto-Kufi-Bold";
            font-size: 14px;
            font-weight: 700;
        }
        img {
            float: left;
            transform: rotate(180deg);
        }
    }
    @media only screen and (max-width: 1200px) {
        .filter-input-container {
            .search-box {
                margin-right: 0px;
                margin-left: 5px;
            }
        }
    }
}