.whyDamac-corporate-section.ar {
    .content-container {
        .title-container {
            .title-header {
                font-family: "Noto-Kufi-Bold";
                font-size: 35px;
                font-weight: 700;
            }
            .title-content {
                font-family: "Noto-Kufi-Regular";
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
            }
        }
    }
}