.contact-content-section {
    background-image: linear-gradient(180deg, rgba(192,170,113,0.16) 0%, rgba(243, 224, 171, 0) 100%);
    padding-top: 40px;
    padding-bottom: 50px;
    .select-btn-group {
        margin-bottom: 40px;
        .select-btn {
            border-radius: 2px;
            background-color: #ede6d3;
            padding: 15px 25px;
            margin-right: 10px;
            margin-bottom: 10px;
            p {
                color: #cfba82;
                font-family: "DINPro-Bold";
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0px;
            }
        }
        .select-btn:hover {
            background-color: #cfba82;
            p {
                color: #ffffff;
            }            
        }
        .select-btn.active {
            outline: none;
            background-color: #cfba82;
            box-shadow: none;
            p {
                color: #ffffff;
            }
        }
    }
    .item-container {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        .contact-item {
            width: 280px;
            margin-right: 100px;
            margin-bottom: 80px;
            h1 {
                color: #000000;
                font-family: "DINPro-Bold";
                font-size: 24px;
                font-weight: 700;
                letter-spacing: 0.43px;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 20px;              
            }
            p {
                color: #4a4a4a;
                font-family: "DINPro-Regular";
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                margin: 0px;              
            }
            .number-container {
                margin-top: 20px;
                img {
                    display: inline;
                    margin-right: 10px;
                }
                p {
                    display: inline;
                    color: #000000;
                    font-family: "DINPro-Bold";
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }
}