.contact-content-section.ar {
    .select-btn-group {
        .select-btn {
            margin-left: 10px;
            margin-right: 0px;
        }
    }
    .item-container {
        .contact-item {
            width: 280px;
            margin-left: 100px;
            margin-right: 0px;
        }
    }
}