.know-more-container {
    border: none;
    border-top: 1px solid #cfba82;
    max-width: 297px;
    p {
        color: #cfba82;
        font-family: "DINPro-Bold";
        font-size: 14px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        display: inline-block;
        float: left;
    }
    img {
        float: right;
        margin-top: 20px;
        display: inline-block;
    }
}
