.disclaimer-section {
    .disclaimer-content {
        margin:30px 10px 30px 10px;
        h3 {
            color: #4a4a4a;
            font-size: 10px;
            line-height: 22px;
            font-family: "DINPro-Bold";
            font-weight: 700;
            margin: 0;
        }
        p, li {
            color: #4a4a4a;
            font-family: "DINPro-Regular";
            font-size: 9px;
            font-weight: 400;
            line-height: 12px;
        }
    }
}