.disclaimer-section.ar {
    direction: rtl;
    text-align: right;
    .disclaimer-content {
        h3 {
            color: #4a4a4a;
            font-size: 10px;
            line-height: 22px;
            font-family: "Tajawal-ExtraBold";
            font-weight: 700;
        }
        p, li {
            color: #4a4a4a;
            font-family: "Noto-Kufi-Regular";
            font-size: 9px;
            font-weight: 400;
            line-height: 22px;
        }
    }
}